
<div class="container ">
    <h2 class="header-title"><mat-icon class="mat-icon notranslate
            material-symbols-outlined material-icons mat-icon-no-color"
            aria-label="directions_car">redeem</mat-icon>
       Ajouter Utilisateur</h2>
        <!--div class="alert alert-success" *ngIf="userSuccess">user {{codeuser}} a été créer avec succés </div-->
        <div class="alert alert-danger" *ngIf="errorHandler.error">{{errorHandler.msg}}</div>
    <form #formDirective="ngForm"  [formGroup]="formCreation" (ngSubmit)="submitUser()" >
        <mat-accordion multi>

            <mat-expansion-panel hideToggle [expanded]="true"
                class="panel-risque">
                <mat-expansion-panel-header>
                    <mat-panel-title class="">
                        Informations Utilisateur
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="form row">
                    <!--nom user -->
                    <mat-form-field class="col-md-5"
                        appearance="outline">
                        <mat-label>Nom </mat-label>
                        <input type="text" matInput placeholder=""
                            formControlName="nom">
                        <mat-error
                            *ngIf="formCreation.controls.nom.errors"
                            class="invalid-feedback">
                            <div *ngIf="formCreation.controls.nom.errors.required"> ce champs est obligatoire</div>
                            <div *ngIf="formCreation.controls.nom.errors.invalidName">
                                {{ formCreation.controls.nom.errors.invalidName.message }}
                              </div>
                        </mat-error>
                    </mat-form-field>

                      <!--prenom user -->
                      <mat-form-field class="col-md-5"
                      appearance="outline">
                      <mat-label>Préom </mat-label>
                      <input type="text" matInput placeholder=""
                          formControlName="prenom">
                      <mat-error
                          *ngIf="formCreation.controls.prenom.errors"
                          class="invalid-feedback">
                          <div *ngIf="formCreation.controls.prenom.errors.required"> ce champs est obligatoire</div>
                          <div *ngIf="formCreation.controls.prenom.errors.invalidName">
                            {{ formCreation.controls.prenom.errors.invalidName.message }}
                          </div>
                      </mat-error>
                  </mat-form-field>

                    <!--email user -->
                     <mat-form-field class="col-md-5"
                     appearance="outline">
                     <mat-label>E-mail </mat-label>
                     <input type="text" matInput placeholder=""
                         formControlName="email">
                         <mat-error *ngIf="formCreation.controls.email.errors" class="invalid-feedback">
                            <div *ngIf="formCreation.controls.email.errors.required"> Ce champs est obligatoire</div>
                            <div *ngIf="formCreation.controls.email.errors.email">Adresse email Invalid </div>
                            <div *ngIf="formCreation.controls.email.errors.invalidEmail">
                              {{ formCreation.controls.email.errors.invalidEmail.message }}
                            </div>
                          </mat-error>
                 </mat-form-field>
                <!--Agence -->
                <mat-form-field appearance="outline"
                    class="col-md-5 ">
                    <mat-label>Agences</mat-label>
                    <mat-select formControlName="agence" multiple
                        #mySelAgences>

                        <mat-option [value]="null"
                            (click)="toggleAllSelection(mySelAgences)">Tout
                            sélectionner</mat-option>
                        <ng-container *ngFor="let agence of
                            agences">
                            <mat-option [value]="agence.idAgence">
                                {{agence.nomAgence}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error
                        *ngIf="formCreation.controls.agence.errors"
                        class="invalid-feedback">
                        <div
                            *ngIf="formCreation.controls.agence.errors.required">
                            ce champs est obligatoire</div>
                    </mat-error>
                </mat-form-field>
                 <!--Role -->
                 <mat-form-field appearance="outline"
                 class="col-md-5 ">
                 <mat-label>Rôle </mat-label>
                 <mat-select formControlName="role" multiple
                     #mySelRole>

                     <mat-option [value]="null"
                         (click)="toggleAllSelectionRole(mySelRole)">Tout
                         sélectionner</mat-option>
                     <ng-container *ngFor="let role of
                         roles">
                         <mat-option [value]="role.id">
                             {{role.description}}
                         </mat-option>
                     </ng-container>
                 </mat-select>
                 <mat-error
                     *ngIf="formCreation.controls.role.errors"
                     class="invalid-feedback">
                     <div
                         *ngIf="formCreation.controls.role.errors.required">
                         ce champs est obligatoire</div>
                 </mat-error>
             </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <button class="btn btn-cancel" mat-dialog-close type="button"  [routerLink]="['/gestion-user']">Annuler</button>
        <div class="row-button">
            <button class="btn btn-action" type="submit">Enregistrer</button>
        </div>
    </form>
</div>                    
