<div class="container-fluid" style="height: 100vh;"> 
    <div class="row" style="justify-content: center; align-items: center;
        align-content: center; height: 100%;">
        <div class="col-md-10 login">
            <div class="row">
              
                <div class="col-md-12 login-content">
                    <div style="display: flex;
                        align-items:center;flex-direction:column">
                        <h1 class="login-title">Mot de passe oublié</h1>
              
                    </div>

                    <form [formGroup]="formchangePass"
                        (ngSubmit)="submit()" class="login-form">
                     
                        <!--div class="alert alert-danger" >
                            email ou mot de passe incorrect.
                        </div-->
                        <mat-form-field appearance="outline" class="col-md-12 login-field">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" type="email">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error *ngIf="formchangePass.controls.email.errors" class="invalid-feedback">
                                <div *ngIf="formchangePass.controls.email.errors.required"> ce champs est obligatoire</div>
                                <div *ngIf="formchangePass.controls.email.errors.email">Adresse email Invalid </div>
                                <div *ngIf="formchangePass.controls.email.errors.invalidEmail">
                                  {{ formchangePass.controls.email.errors.invalidEmail.message }}
                                </div>
                              </mat-error>
                        </mat-form-field>                     
                        
                        <button class="btn btn-cancel" mat-dialog-close type="button"  [routerLink]="['/']">Retour</button>
                        <button class="btn btn-action" type="submit" >Sauvegarder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
