.container {
    background-color: #ffff;
    padding: 40px 43px;
    height: 100%;
    // overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

h2.header-title {
    padding: 0 24px;
    font-size: 21px !important;
    color: #00008f;
    font-weight: 600 !important;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}
.header-title .mat-icon{
    width: fit-content;
    height: fit-content;
    font-size: 33px;
}
.row.cards {
    justify-content: center;
    margin-top: 4rem;
}

.card {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    justify-content: center;
    border-radius: 16px;
}

.card:hover {
    transform: scale(1.1);
    transition: all ease 500ms;
    box-shadow: 0 0.5rem 1rem rgb(0 0 143 / 20%) !important;
}

.card:hover .title-card,
.card:hover .mat-icon{
    color: #00008f;
}

//   @keyframes pulse {
//     0% {
//       transform: scale(.85);
//     }
//     70% {
//       transform: scale(1);
//       box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
//     }
//       100% {
//       transform: scale(1);
//       box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
//     }
//   }
.title-card {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card:not(:first-child) {
    margin-left: 2rem;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.card .mat-icon {
    height: fit-content;
    width: fit-content;
    font-size: 47px;
    margin-bottom: 1rem;
}