
    <div class="row cards">
        <div class="card col-md-3" (click)="goTo('reservePaiement')">
            <mat-icon aria-hidden="false"
                class="material-symbols-outlined">edit_note</mat-icon>
            <span class="title-card">Réserves de paiement</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <div class="card col-md-3" (click)="goTo('reserveRecours')">
            <mat-icon aria-hidden="false"
                class="material-symbols-outlined">draft_orders</mat-icon>
            <span class="title-card">Réserve de recours</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card col-md-3">
            <mat-icon aria-hidden="false"
                class="material-symbols-outlined">manage_accounts</mat-icon>
            <span class="title-card">OP's</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        </div>
    </div>
