.container {
    background-color: #ffff;
    padding: 40px 23px;
    height: 100%;
    // overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

h2.header-title {
    padding: 0 24px;
    font-size: 21px !important;
    color: #00008f;
    font-weight: 600 !important;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
}

h2.header-title .mat-icon {
    margin-right: 1rem;
}
.btn.btn-action,
.btn.btn-secondary {
    margin-top: 2rem;
    float: right;
}

.btn.btn-cancel {
    margin-top: 2rem;
    float: left;
}