<h2 class="heading">Créer une durée</h2>
<mat-divider></mat-divider>
<div *ngIf="dureeCreationSuccess" class="alert alert-success">La durée N°{{idDuree}} a été modifier avec succés</div>
<div *ngIf="dureeCreationError" class="alert alert-danger">{{messageError}}</div>
<mat-dialog-content class="mat-typography">
    <form #formDirective="ngForm" [formGroup]="formCreationDuree"
        (ngSubmit)="submitCreationDuree(formDirective)" class="login-form">

        <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Description</mat-label>
            <input type="text" matInput placeholder="" formControlName="description">
            <mat-error
            *ngIf="formCreationDuree.controls.description.errors"
            class="invalid-feedback">
                <div
                    *ngIf="formCreationDuree.controls.description.errors.required">
                    ce champs est obligatoire</div>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-md-6" appearance="outline">
            <mat-label> Type Durée </mat-label>
            
            <mat-select formControlName="type_duree">
                <mat-option value="Jour">Jour</mat-option>
                <mat-option value="Mois">Mois</mat-option>
                <mat-option value="Année">Année</mat-option>
            </mat-select>
            <mat-error
            *ngIf="formCreationDuree.controls.type_duree.errors"
            class="invalid-feedback">
                <div
                    *ngIf="formCreationDuree.controls.type_duree.errors.required">
                    ce champs est obligatoire</div>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Durée</mat-label>
            <input type="text" matInput placeholder="" formControlName="duree">
            <mat-error
            *ngIf="formCreationDuree.controls.duree.errors"
            class="invalid-feedback">
                <div
                    *ngIf="formCreationDuree.controls.duree.errors.required">
                    ce champs est obligatoire</div>
            </mat-error>
        </mat-form-field>

        <button class="btn btn-action"
            type="submit" >Envoyer</button>
        <button class="btn btn-cancel"
            mat-dialog-close >Annuler</button>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->