<div class="container ">
  <div class="header">

    <h2 class="title-table">Liste des Sous garantie </h2>

    <button class="btn btn-secondary" style="display: flex;
      align-items: center;" (click)="openDialogAdd()">

      <mat-icon aria-hidden="false" aria-label="ajouter sous garantie "
        class="material-symbols-outlined">add_circle</mat-icon>

      Ajouter une nouvelle sous garantie
    </button>
  </div>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" class="gestion-table ">


    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element">
        {{element.idSousGarantie}} </td>
    </ng-container>

    <!-- id national Column -->
    <ng-container matColumnDef="idNational">
      <th mat-header-cell *matHeaderCellDef> id national </th>
      <td mat-cell *matCellDef="let element"> {{element.idNationnal}}
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}}
      </td>
    </ng-container>

    <!-- Valeur de l'enveloppe Column -->
    <ng-container matColumnDef="valeurEnvloppe">
      <th mat-header-cell *matHeaderCellDef> Valeur de l'enveloppe </th>
      <td mat-cell *matCellDef="let element">
        {{element.valeurEnvloppe | number}} </td>
    </ng-container>

    <!-- Date debut Column -->
    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef> Date debut </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDebut |
        date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- Date fin Column -->
    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef> Date fin </th>
      <td mat-cell *matCellDef="let element"> {{element.dateFin |
        date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
      
        <button mat-icon-button
          type="button"
          [matMenuTriggerFor]="menu"
          aria-label="menu sous garantie list">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu"
          xPosition="after"
          class="menu-sous-garantie">
          <button mat-menu-item
            (click)="openDialogEdit(element.idSousGarantie)"
            type="button">
            <mat-icon>edit</mat-icon>
            <span>Modifier durée</span>
          </button>
        </mat-menu>
      </td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"
      class="example-second-header-row">
    </tr>


    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" aria-label="Select
    page of users"></mat-paginator>

</div>