
<div class="container">
    <h2 class="header-title">
        <mat-icon aria-hidden="false"
            class="material-symbols-outlined"
            matTooltip="Retour"
            matTooltipPosition="left"
            [routerLink]="['/consultation-avenants/' + codeProduit +'/' +attributsAvenant?.idContrat]">arrow_circle_left</mat-icon>
        Consultation {{attributsAvenant?.typeAvenant.libelle}}
        <!-- {{informationsContrat.idContrat}} -->
    </h2>
    <mat-accordion class="example-headers-align" multi>
        <!-- Information avenant -->
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Information avenant
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container " style="padding: 1rem 2rem;">

                <div class="row infos">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">{{attributsAvenant?.typeAvenant?.code==="A22"?'N° Carte orange:': 'N° Attestation:' }}</div>
                            <div
                                class="col-md-6 value">{{attributsAvenant?.numAttestation}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Motif: </div>
                            <div
                                class="col-md-6 value">{{attributsAvenant?.motif?.motif?.description}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row infos">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Commentaire: </div>
                            <div
                                class="col-md-6 value">{{attributsAvenant?.motif.Commentaire}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Date avenant: </div>
                            <div
                                class="col-md-6 value">{{attributsAvenant?.dateAvenant
                                | dateFormatPipe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row infos"
                    *ngFor="let attribut of attributsAvenant?.attributList">
                    <div class="col-md-6">
                        <div class="row">
                            <div
                                class="col-md-6 key">{{attribut.attribut.attribut}}:
                            </div>
                            <div class="col-md-6 value"
                                *ngIf="attribut.attribut.type?.description == 'date'">
                                {{attribut?.reponse | dateFormatPipe}} </div>
                            <div class="col-md-6 value"
                                *ngIf="attribut.attribut.type?.description != 'date'">{{attribut?.reponse}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <!--information assuree-->
        <mat-expansion-panel hideToggle [expanded]="true"
            *ngIf="attributsAvenant?.typeAvenant?.assuree && hisReady">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Information assuré
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container " style="padding: 1rem 2rem;">

                <div class="row infos">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Type Client: </div>
                            <div
                                class="col-md-6 value">{{informationsAssure.typeClient}}</div>
                        </div>
                    </div>
                </div>
                <div class="row infos"
                    *ngIf="informationsAssure.typeClient=='personne physique';
                    else personneMoral">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Nom: </div>
                            <div
                                class="col-md-6 value">{{informationsAssure.nom}}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Prénom:</div>
                            <div
                                class="col-md-6 value">{{informationsAssure.prenom}}
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #personneMoral>
                    <div class="row infos">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 key">Raison Social: </div>
                                <div
                                    class="col-md-6 value">{{informationsAssure.raisonSocial}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div class="row infos">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Email: </div>
                            <div
                                class="col-md-6 value">{{informationsAssure.email}}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Téléphone:</div>
                            <div
                                class="col-md-6 value">{{informationsAssure.tel}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <!--Information Souscripteuer-->
        <mat-expansion-panel hideToggle [expanded]="true" *ngIf="attributsAvenant?.typeAvenant?.souscripteur && this.hisReady">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Information souscripteur
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container " style="padding: 1rem 2rem;">
                <div class="row infos">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Nom: </div>
                            <div
                                class="col-md-6 value">{{informationsSouscripteur.nom}}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Prénom:</div>
                            <div
                                class="col-md-6 value">{{informationsSouscripteur.prenom}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row infos">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Email: </div>
                            <div
                                class="col-md-6 value">{{informationsSouscripteur.email}}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 key">Téléphone:</div>
                            <div
                                class="col-md-6 value">{{informationsSouscripteur.tel}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <!--Informations Risque-->
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Informations du risque
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container " style="padding: 1rem 2rem;">
                <mat-accordion multi *ngIf="!multiRisque;else multirisque">
                    <mat-expansion-panel hideToggle
                        *ngFor="let risque of informationsRisque; let i= index"
                        [expanded]="true" class="panel-risque">
                        <ng-container>
                            <mat-expansion-panel-header>
                                <mat-panel-title class="categoryTitle">
                                    {{risque[i]?.categorieParamRisque}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row infos " *ngFor="let rs of risque">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div
                                            class="col-md-6 key">{{rs.libelle}}</div>
                                        <div class="col-md-6 value"
                                            *ngIf="rs.codeRisque=='P25' || rs.codeRisque=='P26'">{{rs.reponse.idParamReponse.description}}</div>
                                        <div class="col-md-6 value"
                                            *ngIf="rs.typeChamp=='date'">{{rs.reponse.valeur
                                            | dateFormatPipe}}</div>
                                        <div class="col-md-6 value"
                                            *ngIf="rs.typeChamp=='Number' || rs.typeChamp=='String'">{{rs.reponse.valeur}}</div>

                                        <div class="col-md-6 value"
                                            *ngIf="rs.typeChamp=='Liste of values'">{{rs.reponse.idParamReponse.description}}</div>
                                        <div class="col-md-6 value"
                                            *ngIf="rs.typeChamp=='From Table'">{{rs.reponse.description}}</div>
                                        <!-- <div class="col-md-6 value"
                                            *ngIf="rs.typeChamp!='Liste of values' && rs.typeChamp!='Number' && rs.typeChamp!='date' && rs.libelle!='Marque' && rs.libelle!='Modèle '">{{rs.reponse.valeur
                                            }}</div> -->
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </mat-expansion-panel>
                </mat-accordion>
                <ng-template #multirisque>
                    <mat-accordion multi>
                        <table mat-table [dataSource]="dataSourceGroupes"
                            class="gestion-table">

                            <!-- Groupe Column -->
                            <ng-container matColumnDef="idGroupe">
                                <th mat-header-cell *matHeaderCellDef> N° Groupe
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.idGroupe}} </td>
                            </ng-container>
                            <!-- risque Column -->
                            <ng-container matColumnDef="idRisque">
                                <th mat-header-cell *matHeaderCellDef> N° risque
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.idRisque }} </td>
                            </ng-container>
                            <!-- param Column -->
                            <ng-container
                                *ngFor="let colonne of colonnesDynamiques"
                                [matColumnDef]="colonne">
                                <th mat-header-cell *matHeaderCellDef>{{
                                    colonne}}</th>
                                <td mat-cell *matCellDef="let element">{{
                                    element[colonne] }}</td>
                            </ng-container>
                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action
                                </th>

                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button
                                        type="button"
                                        [matMenuTriggerFor]="menu"
                                        aria-label="menu contrat list">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="after"
                                        class="menu-contrat">
                                        <button mat-menu-item
                                            (click)="consultRisque(element.idGroupe,element.idRisque)"
                                            type="button">
                                            <mat-icon>zoom_in</mat-icon>
                                            <span>Consulter risque</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row
                                *matHeaderRowDef="displayColonnes"
                                class="example-second-header-row">
                            </tr>

                            <tr mat-row
                                *matRowDef="let row; columns: displayColonnes;"></tr>
                        </table>
                    </mat-accordion>
                </ng-template>

            </div>
        </mat-expansion-panel>
        <!--Prime-->
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Prime
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="resume">

                <tr *ngFor="let element of dataSourcePrime">
                    <ng-container *ngIf="element.typePrime.idParam==101">
                        <td>{{element.typePrime.description}}</td>
                        <td>{{element.primeProrata | number : '1.0-0' | money}}
                            <sup>DA</sup></td>
                    </ng-container>
                </tr>
                <tr *ngFor="let element of dataSourceTaxe">
                    <td>{{element.taxe.description}}</td>
                    <td>{{element.primeProrata | number : '1.0-0' | money}}
                        <sup>DA</sup></td>
                </tr>
                <tr *ngFor="let element of dataSourcePrime">
                    <ng-container *ngIf="element.typePrime.idParam==186">
                        <td
                            class="primeTotale">{{element.typePrime.description}}</td>
                        <td class="primeTotale">{{element.primeProrata | number
                            :
                            '1.0-0' | money}} <sup>DA</sup></td>
                    </ng-container>
                </tr>
            </table>

        </mat-expansion-panel>
        <button class="btn btn-action"
            *ngIf="attributsAvenant?.statut.code == 'S09' && hasRights"
            (click)="approuverAvenant()">Approuver</button>
    </mat-accordion>
</div>