<div class="container-fluid" style="height: 100vh;"> 
    <div class="row" style="justify-content: center; align-items: center;
        align-content: center; height: 100%;">
        <div class="col-md-10 login">
            <div class="row">
              
                <div class="col-md-12 login-content">
                    <div style="display: flex;
                        align-items:center;flex-direction:column">
                        <h1 class="login-title">Modifié mot de passe</h1>
              
                    </div>

                    <form [formGroup]="formPass"
                        (ngSubmit)="submit()" class="login-form">
                     
                        <!--div class="alert alert-danger" >
                            email ou mot de passe incorrect.
                        </div-->
                        <mat-form-field appearance="outline" class="col-md-12 login-field">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error *ngIf="formPass.controls.email.errors" class="invalid-feedback">
                                <div *ngIf="formPass.controls.email.errors.required"> Ce champs est obligatoire</div>
                                <div *ngIf="formPass.controls.email.errors.email">Adresse email Invalid </div>
                                <div *ngIf="formPass.controls.email.errors.invalidEmail">
                                  {{ formPass.controls.email.errors.invalidEmail.message }}
                                </div>
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 login-field">
                            <mat-label>Ancien mot de passe</mat-label>
                            <input matInput formControlName="lastPass"  [type]="hide ? 'password':'text'">
                            <mat-icon matSuffix aria-hidden="false"
                            aria-label="password" (click)="hide= !hide">{{
                            hide ? 'visibility_off':'visibility' }}</mat-icon>
                            <mat-error
                                *ngIf="formPass.controls.lastPass.errors"
                                class="invalid-feedback">
                                <div
                                    *ngIf="formPass.controls.lastPass.errors.required">
                                    ce champs est obligatoire</div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 login-field">
                            <mat-label>Nouveau mot de passe</mat-label>
                            <input matInput formControlName="newPass"  [type]="hide ? 'password':'text'">
                            <mat-icon matSuffix aria-hidden="false"
                            aria-label="password" (click)="hide= !hide">{{
                            hide ? 'visibility_off':'visibility' }}</mat-icon>
                           <mat-error *ngIf="formPass.controls.newPass.errors" class="invalid-feedback">
                            <div *ngIf="formPass.controls.newPass.errors.required"> Ce champs est obligatoire</div>
                            <div *ngIf="formPass.controls.newPass.errors.minlength">La longueur du mot de passe minimum à 8 </div>
                            <div *ngIf="formPass.controls.newPass.errors.missingNumber">Le mot de passe doit contenir au moins un numero</div>
                            <div *ngIf="formPass.controls.newPass.errors.missingSpecialChar">Le mot de passe doit contenir au moins une lettre majuscule</div>
                           
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 login-field">
                            <mat-label>Confirmation de mot de passe</mat-label>
                            <input matInput formControlName="confirmNewPass"  [type]="hide ? 'password':'text'">
                            <mat-icon matSuffix aria-hidden="false"
                            aria-label="password" (click)="hide= !hide">{{
                            hide ? 'visibility_off':'visibility' }}</mat-icon>
                            <mat-error
                            *ngIf="formPass.get('confirmNewPass').hasError('customError')"
                                class="invalid-feedback">  {{ setError }}
                                <div
                                    *ngIf="formPass.controls.confirmNewPass.errors.required">
                                    ce champs est obligatoire</div>
                            </mat-error>
                        </mat-form-field>
                     
                        
                        <button class="btn btn-cancel" mat-dialog-close type="button"  [routerLink]="['/']">Retour</button>
                        <button class="btn btn-action" type="submit" >Sauvegarder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
