<h2 class="heading">Modifier une garantie
    <span style="float: right; font-size: 24px;" >
        <mat-icon aria-hidden="false" aria-label="" class="material-symbols-outlined"
                matTooltip="" matTooltipPosition="right" mat-dialog-close> close
              </mat-icon>
    </span>
</h2>
<mat-divider></mat-divider>
<!-- <div *ngIf="garantieEditSuccess" class="alert alert-success">La garantie N°{{idGarantie}} a été modifier avec succés</div> -->
<div *ngIf="garantieEditError" class="alert alert-danger"> {{messageError}} </div>
<mat-dialog-content class="mat-typography">
    <form #formDirective="ngForm" [formGroup]="formEditGarantie"
        (ngSubmit)="submitEditGarantie(formDirective)" class="login-form" *ngIf="formEditGarantie">

        <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Description</mat-label>
            <input type="text" matInput placeholder="" formControlName="description">
            <mat-error
            *ngIf="formEditGarantie.controls.description.errors"
            class="invalid-feedback">
                <div
                    *ngIf="formEditGarantie.controls.description.errors.required">
                    ce champs est obligatoire</div>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-md-6" style="padding-right: 3%;" appearance="outline">
            <mat-label> Categorie </mat-label>
            
            <mat-select formControlName="categorieGarantie">
                <ng-container *ngFor="let categorie of  categorieGarantieArray">
                  <mat-option [value]="categorie.idParam"
                    >{{ categorie.description }}
                  </mat-option>
                </ng-container>
              </mat-select>
            <mat-error
            *ngIf="formEditGarantie.controls.categorieGarantie.errors"
            class="invalid-feedback">
                <div
                    *ngIf="formEditGarantie.controls.categorieGarantie.errors.required">
                    ce champs est obligatoire</div>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-md-6" style="padding-left: 3%;" appearance="outline">
            <mat-label>Valeur de l'enveloppe</mat-label>
            <input type="nummber" matInput placeholder="" formControlName="valeurEnvloppe">
        </mat-form-field>
    
        <mat-form-field class="col-md-6" style="padding-right: 3%;" appearance="outline">
            <mat-label>Date debut</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateDebut" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
            *ngIf="formEditGarantie.controls.dateDebut.errors"
            class="invalid-feedback">
                <div
                    *ngIf="formEditGarantie.controls.dateDebut.errors.required">
                    ce champs est obligatoire</div>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-md-6" style="padding-left: 3%;" appearance="outline">
            <mat-label>Date fin</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker2" formControlName="dateFin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-md-6" appearance="outline" style="padding-right: 3%;">
            <mat-label>ID National</mat-label>
            <input type="text" matInput placeholder="" formControlName="idNationnal">
        </mat-form-field>

            <mat-radio-group class="col-md-6" style="padding-left: 3%; margin-bottom: 2%;" aria-label="Select an option" formControlName="withTaxe"> 
                <mat-radio-button [value]="1">Avec taxe</mat-radio-button>
                <mat-radio-button [value]="0">Sans taxe</mat-radio-button>
            </mat-radio-group>

            <div class="row">                
                <div class="offset-md-6 col-md-6">
                    <button class="btn btn-action"
                    type="submit" >Envoyer</button>
                <button  class="btn btn-cancel"
                    mat-dialog-close >Annuler</button>
                </div>               
            </div>
       
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->