<div class="container ">
  <div class="header">

    <h2 class="title-table">Liste des reseaux de distribution </h2>

    <button class="btn btn-secondary" style="display: flex;
      align-items: center;" (click)="openCreateDialog()">

      <mat-icon aria-hidden="false" aria-label="ajouter pack "
        class="material-symbols-outlined">add_circle</mat-icon>

        Ajouter un reseau de distribution
    </button>
  </div>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" class="gestion-table">

    <!-- <ng-container matColumnDef="header-reseau-distribution">
        <th mat-header-cell *matHeaderCellDef attr.colspan={{lengthColumns}}>
          <div class="header-tab">
            <span>Liste des reseaux de distribution </span>
            <mat-icon aria-hidden="false" aria-label="Ajouter un reseau de distribution" class="material-symbols-outlined"
              matTooltip="Ajouter un reseau de distribution" matTooltipPosition="right" (click)="openDialogAdd()">add</mat-icon>
          </div>
  
        </th>
      </ng-container> -->
    <!-- ID Column -->
    <ng-container matColumnDef="idReseau">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idReseau}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Date debut Column -->
    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef> Date debut </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDebut |
        date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- Date fin Column -->
    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef> Date fin </th>
      <td mat-cell *matCellDef="let element"> {{element.dateFin |
        date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- Action Column -->
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">

                  <button mat-icon-button
                  type="button"
                  [matMenuTriggerFor]="menu"
                  aria-label="menu réseau list">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu"
                  xPosition="after"
                  class="menu-formule">
                  <button mat-menu-item
                      (click)="openDialogEdit(element.idReseau)"
                      type="button">
                      <mat-icon>edit</mat-icon>
                      <span>Modifier réseau</span>
                  </button>
              </mat-menu>
          </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"
      class="example-second-header-row">
    </tr>


    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" aria-label="Select
    page of users"></mat-paginator>

</div>