.container {
    background-color: #ffff;
    padding: 40px 2rem;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

h2.header-title {
    padding: 0 24px;
    font-size: 21px !important;
    color: #00008f;
    font-weight: 600 !important;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

h2.header-title .mat-icon {
    margin-right: 1rem;
    font-size: 32px;
    height: fit-content;
    width: fit-content;
}

.btn.btn-action {
    float:right
}
form.row{
    margin-top: 5rem;
    flex-direction: column;
}