@import "../../../shared/styles/tables-gestions.scss";
.container {
    background-color: #ffff;
    padding: 40px 28px;
    height: 100%;
    // overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

h2.header-title {
    padding: 0 24px;
    margin-bottom: 3rem;;
    font-size: 21px !important;
    color: #00008f;
    font-weight: 600 !important;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}
h2.seconde-title {
    padding: 0 24px;
    margin-bottom: 3rem;;
    font-size: 21px !important;
    color: #00008f;
    font-weight: 600 !important;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    float:right;
}

.value {
    color: #00008F;
    font-weight: 600;
}
.row.infos{
    font-size: 16px;
    margin-bottom: 2rem;
    font-weight: 600;
}