.mat-dialog-content{
    padding-top: 15px;
}
.btn.btn-cancel{
    float: left;
}
.btn.btn-delete{
    float: right;
}
p{
    margin-bottom: 2rem;
    font-size: 19px;
    text-align: center;
    line-height: 3rem;
}
